.default-padding-per {
  padding: 50px 0 !important;
}

.inner-container {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses-offer {
  width: 100%;
  margin: 0 auto !important;
}

.courses-offer .inner-container {
  margin: 0 auto;
  width: 100%;
}

.inner-container .main-des {
  text-align: center;
  margin-bottom: 30px;
}

/* .courses-offer .cards .inner-container {
  max-width: 1300px;
} */

.courses-offer .cards {
  background: #fff;
  text-align: center;
  padding: 50px 0;
}

.courses-offer .left {
  background: #f3f3f3 !important;
}

.courses-offer .cards .upper-part h4 {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #01356f !important;
}

.courses-offer .cards h5 {
  color: #f58026;
}

.courses-offer .cards .upper-part h5 {
  font-weight: 700;
}

.courses-offer .cards .upper-part button {
  background-color: #002647;
  border: none;
  padding: 5px 15px;
  font-size: 1.4rem;
  margin-right: 10px;
  border-radius: 0.2rem;
  letter-spacing: 0.2px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.courses-offer .cards .upper-part button:hover {
  background: #01356f;
}

.courses-offer .cards .upper-part button a {
  color: #ffffff !important;
}

.courses-offer .cards .lower-part {
  margin-top: 20px;
  padding: 0px;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.5rem;
  /* background-color: #002647; */
  background-color: #fff;
  /* box-shadow: 1px 1px 2px 10px rgb(216, 215, 215); */
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.courses-offer .cards .lower-part div {
  background-color: #002647;
  /* box-shadow: 0.5px 0.5px 8px 4px rgb(224, 223, 223); */
  word-wrap: break-word;
  padding: 10px 5px;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
}

/* .courses-offer .cards .lower-part div:nth-last-child(1) {
  column-span: 2 !important;
  column-count: 2;
  grid-column-start: 1;
  grid-column-end: 3 !important;
} */

.courses-offer .cards .lower-part h5 {
  /* font-size: larger; */
  /* color: #002647; */
  color: #fff;
  font-weight: bolder;
}

.courses-offer .cards .lower-part p {
  color: white;
}

.courses-offer .cards .lower-part div:nth-last-child(1) p {
  font-size: 1.7rem;
  /* color: #f58026; */
  text-shadow: 1px 1px 4px #f58026;
}

/* COURSE FEATURES====== */

h2.headings {
  display: inline-block;
  position: relative;
  font-weight: 700;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  color: #002647;
}

h2.headings::after {
  background: #f58026 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: 5px;
  position: absolute;
  width: 20px;
  z-index: 1;
}

h2.headings::before {
  background: #f58026 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 40px;
  z-index: 1;
}

@media (min-width: 520px) and (max-width: 767px) {
  .courses-offer .cards .lower-part {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .feature-card {
    width: 80%;
    margin: 0px auto 70px;
  }
}

@media (min-width: 768px) {
  .courses-offer .cards .inner-container {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .courses-offer .cards .lower-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .courses-offer .cards .upper-part {
    margin: 50px 0;
  }

  .courses-offer .cards {
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .courses-offer .cards .upper-part button {
    margin-bottom: 10px;
    background: #f58026;
  }

  .courses-offer .cards .upper-part button:hover {
    background: #ffb606;
  }
}

@media (min-width: 1000px) {
  .inner-container {
    padding: 0 120px !important;
  }
}
