.neet-result {
  padding: 50px 120px;
}

.neet-result h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 80px;
}

/* .neet-result .stu-res-div{
  
} */
.stu-res-div .single-res-stu {
  position: relative;
}

.stu-res-div .single-res-stu img {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  z-index: 0;
}

.stu-res-div .single-res-stu img::after {
  content: ""; /* Add content property for pseudo-element */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    black,
    white
  ); /* Corrected gradient syntax */
  opacity: 0.7; /* Adjust opacity for desired effect */
  z-index: 1; /* Ensure the overlay appears above the image */
}
