:root {
  --primary-blue: #002147;
  --primary-orange: #f58026;
  --primary-grey: #66778a;
  --tansition-1: all 0.1s ease;
}

.card-body > h4 {
  color: #002147;
  transition: var(--tansition-1);
}

.card-body > .btn {
  color: var(--primary-blue);
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: var(--primary-orange);
  margin-top: 20px;
  border-radius: 0.25rem;
}

.card-body > .btn:hover {
  background-color: #f6a262;
}

@media (min-width: 768px) {
  .home-sidebar {
    margin-top: 20px;
  }
}

.inp-btn {
  background: #f58026 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 50px;
  text-transform: uppercase;
}

.clients-review-carousel .item .image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
