:root {
  --primary-blue: #002147;
  --primary-orange: #f58026;
  --primary-grey: #66778a;
  --tansition-1: all 0.1s ease;
}

/* for the ntse ones======= */
.card-body > h4 {
  color: #002147;
  transition: var(--tansition-1);
}

.card-body > .btn {
  color: var(--primary-blue);
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: var(--primary-orange);
  margin-top: 20px;
  border-radius: 0.25rem;
}

.card-body > .btn:hover {
  background-color: #f6a262;
}
/* for the ntse ones======= */

/* online registration ======= in index-2 */

@media (min-width: 768px) {
  .home-sidebar {
    margin-top: 40px;
  }
}
/* online registration ======= in index-2 */

/* for the ntse ones======= */
/* .inp-btn {
  background: #f58026 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 50px;
  text-transform: uppercase;
} */
/* for the ntse ones======= */

/* students review========= */
.clients-review-carousel .item .image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* students review========= */

/* alert error ============= */
form img.loader {
  margin-left: 5px;
}

form .alert-notification {
  padding: 0;
}

form .alert-notification h3 {
  color: green;
  margin-bottom: 5px;
}

form .alert-notification .alert-error {
  background: #e7e7e7 none repeat scroll 0 0;
  color: red;
  margin-top: 15px;
  margin-bottom: 0;
}

form .alert-notification .alert-success {
  margin-top: 15px;
  margin-bottom: 0;
}

.alert-error {
  background: #e7e7e7 none repeat scroll 0 0;
  color: red;
  margin-top: 15px;
  margin-bottom: 0;
}
