:root {
  --primary-blue: #002147;
  --primary-orange: #f58026;
  --primary-grey: #66778a;
  --tansition-1: all 0.1s ease;
}

/* for the ntse ones======= */
.card-body > h3 {
  color: #002147;
  font-size: 2.2rem;
  font-weight: 600;
  transition: var(--tansition-1);
}

.card-body > .btn {
  color: var(--primary-blue);
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: var(--primary-orange);
  margin-top: 20px;
  border-radius: 0.25rem;
}

.card-body > .btn:hover {
  background-color: #f6a262;
}

.card-body p {
  color: #000;
}

.card-body hr {
  color: white;
  margin: 10px 0;
  border-top: 1px solid rgb(216, 215, 215);
}

.card-body p.card-text {
  color: green;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-body h5.card-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}
/* for the ntse ones======= */

/* online registration ======= in index-2 */

/* online registration ======= in index-2 */

/* for the ntse ones======= */
/* .inp-btn {
  background: #f58026 none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 50px;
  text-transform: uppercase;
} */
/* for the ntse ones======= */

/* students review========= */
.clients-review-carousel .item .image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* students review========= */

/* alert error ============= */
form img.loader {
  margin-left: 5px;
}

form .alert-notification {
  padding: 0;
}

form .alert-notification h3 {
  color: green;
  margin-bottom: 5px;
}

form .alert-notification .alert-error-p {
  background: #e7e7e7 none repeat scroll 0 0;
  color: red;
  margin-top: 15px;
  margin-bottom: 0;
}

form .alert-notification .alert-success-p {
  background: #e7e7e7 none repeat scroll 0 0;
  color: green;
  margin-top: 15px;
  margin-bottom: 0;
}

.alert-error-p {
  background: #e7e7e7 none repeat scroll 0 0;
  color: red;
  margin-top: 15px;
  margin-bottom: 0;
}

.username {
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-orange);
  display: inline-block;
  width: 150px;
  margin: -30px 0 20px;
  font-weight: 900;
}

.advisor-item .social li.linkedin a {
  background-color: #0a66c2;
  color: #ffffff;
}

.advisor-item .social li.instagram a {
  background-color: #9d2d82;
  color: #ffffff;
  transition: var(--tansition-1);
}

.advisor-item .social li.youtube a {
  background-color: #f70f1b;
  color: #ffffff;
  transition: var(--tansition-1);
}

.advisor-item .social li.instagram a:hover,
.advisor-item .social li.youtube a:hover {
  background-color: #ffb606;
}

/* nav updated */

.owl-carousel-stu,
.owl-carousel-stu .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel-stu {
  display: none;
  width: 80%;
  z-index: 1;
}

.owl-carousel-stu .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel-stu .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel-stu .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel-stu .owl-item,
.owl-carousel-stu .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel-stu .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel-stu .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel-stu .owl-dots.disabled,
.owl-carousel-stu .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel-stu,
.owl-carousel-stu.owl-loaded {
  display: block;
}
.owl-carousel-stu .owl-dot,
.owl-carousel-stu .owl-nav .owl-next,
.owl-carousel-stu .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel-stu.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel-stu.owl-hidden {
  opacity: 0;
}
.owl-carousel-stu.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel-stu.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel-stu.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel-stu.owl-rtl {
  direction: rtl;
}
.owl-carousel-stu.owl-rtl .owl-item {
  float: right;
}
.owl-carousel-stu .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel-stu .owl-animated-in {
  z-index: 0;
}
.owl-carousel-stu .owl-animated-out {
  z-index: 1;
}
.owl-carousel-stu .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel-stu .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel-stu .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel-stu .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel-stu .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel-stu .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel-stu .owl-video-playing .owl-video-play-icon,
.owl-carousel-stu .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel-stu .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel-stu .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* enquiry */
.reg-form textarea {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 80px;
}

/* profile image */

.profile-image {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background: #fff;
  padding: 0px 6px;
  border-radius: 0.4rem;
}

/* OTP */

.otp-field {
  display: flex;
}
.otp-field input {
  width: 24px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #e7e7e9;
  background: #fff;
  font-weight: bold;
  color: #fff;
  outline: none;
  transition: all 0.1s;
}

.otp-field input:focus {
  border: 0.2px solid #66afe9;
  box-shadow: 0 0 1px 1px #66afe9;
}
.disabled {
  opacity: 0.5;
}
.space {
  margin-right: 1rem !important;
}

/* PASSWORD INPUT */
/* 
.form-control-pass {
  display: flex;
  height: 100%;
  max-height: 52px;
  color: #555 !important;
  width: 100%;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control-pass input.pass-inp {
  border: none;
  outline: none;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  padding: none;
  height: 100%;
  width: 100%;
}

.form-control-pass:focus-within {
  border-color: #66afe9 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control-pass i {
  height: 100%;
  display: block;
  color: #6b6a6a;
  cursor: pointer;
}*/

.form-control:focus-within,
.form-control:focus-visible {
  border-color: #66afe9 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.form-group i {
  position: absolute;
  right: 12px;
  top: 18px;
  height: 100%;
  display: block;
  color: #6b6a6a;
  cursor: pointer;
}

/* Forgot Password */

.forgo-pass {
  margin-top: -10px !important;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.2rem;
}

.forgo-pass a {
  color: #f58026;
}

.forgo-pass a:hover {
  text-decoration: underline;
}

/* li of dropdowns padding */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #fdf9f9;
  margin: 0;
  padding: 0;
}

.dropdown-menu li sup {
  text-transform: lowercase;
}

@media (min-width: 1022px) {
  .menu-personal {
    width: auto;
    max-width: 200px;
    padding: 10px;
  }

  .w-less {
    width: 60px !important;
  }

  .menu-personal li,
  .w-less li {
    padding-left: 10px;
  }

  .w-less li {
    padding-left: 20px;
    width: 100%;
  }
}

/* about us site heading why choose AREESE */

.site-heading-per {
  display: flex !important;
  flex-direction: column;
  justify-content: center flex !important;
}

.site-heading-per h2 {
  display: inline-block !important;
  text-align: center;
  margin: 0 auto 80px !important;
  position: relative;
}

.site-heading-per h2::before {
  background: #f58026 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  left: 30% !important;
  margin-left: -40px;
  position: absolute;
  width: 40px;
  z-index: 1;
}

.site-heading-per h2::after {
  background: #f58026 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  left: 50% !important;
  margin-left: 0;
  position: absolute;
  width: 30px !important;
  z-index: 1;
}
